<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/"><span class="flaticon-pizza-1 mr-1"></span>Pizza<br><small>Delicious</small></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'menu' %}" class="nav-link">Menu</a></li>
        <li class="nav-item"><a href="{% url 'services' %}" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
        <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
      </ul>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="{% url 'cart' %}" class="nav-link">cart</a></li>

        {% if request.user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'logoutForm' %}" class="nav-link">LogOut</a></li>
        <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link">Profile</a></li>
        <li class="nav-item"><a href="{% url 'passwordchange' %}" class="nav-link">Change Password</a></li>
        <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link">Hello {{request.user | capfirst}}</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'loginForm' %}" class="nav-link">Login</a></li>
        {%endif%}
      </ul>
    </div>

    </div>
  </div>
</nav>