{% load static %}
{% include "partials/stats.html" %}
<!--Start  cat for category -->
<section class="ftco-menu">
  <div class="container-fluid">
    <div class="row d-md-flex">
      <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0" style="background-image: url({% static 'images/about.jpg'%}	);">
      </div>
      <div class="col-lg-8 ftco-animate p-md-5">
        <div class="row">
          <div class="col-md-12 nav-link-wrap mb-5">
            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Pizza</a>

              <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Drinks</a>

              <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Burgers</a>

              <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Pasta</a>
            </div>
          </div>
          <div class="col-md-12 d-flex align-items-center">
            <div class="tab-content ftco-animate" id="v-pills-tabContent">
              <!--Start pizza cat -->
              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                <div class="row">
                  <!-- pizza div -->
                  {% for item in items  %}
                  {% if item.cat == 'pizza' and item.onOffer %}
                  <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                      <a href="#" class="menu-img img mb-4" style="background-image: url('{% static item.image %}');"></a>
                      <div class="text">
                        <h3><a href="#">{{item.name}}</a></h3>
                        <p>{{item.description}}</p>
                        <p class="price"><span>${{item.price}}</span></p>
                        <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                      </div>
                    </div>
                  </div>
                  {%endif%}
                  {%endfor%}
                  <!-- pizza div -->

                </div>
              </div>
              <!--End pizza cat -->

              <!--Start drinnks cat -->

              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                <div class="row">
                  <!-- drinks div -->
                  {% for item in items %}
                  {% if item.cat == 'drink'  and item.onOffer%}
                  <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                      <a href="#" class="menu-img img mb-4" style="background-image: url('{% static item.image %}');"></a>
                      <div class="text">
                        <h3><a href="#">{{item.onOffer}}</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        <p class="price"><span>${{item.price}}"</span></p>
                        <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                      </div>
                    </div>
                  </div>
                  {%endif%}
                  {%endfor%}
                  <!-- drinks div -->
                </div>
              </div>
              <!-- End drinnks cat -->

              <!--Start burgers cat -->
              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                <div class="row">
                  <!-- burger div -->
                  {% for item in items %}
                  {% if item.cat == 'burger' and item.onOffer %}
                  <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                      <a href="#" class="menu-img img mb-4" style="background-image: url('{% static item.image %}');"></a>
                      <div class="text">
                        <h3><a href="#">{{item.name}}</a></h3>
                        <p>{{item.description}}</p>
                        <p class="price"><span>${{item.price}}</span></p>
                        <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                      </div>
                    </div>
                  </div>
                  {%endif%}
                  {%endfor%}
                  <!-- burger div -->
                </div>
              </div>
              <!-- End burgers cat -->

              <!-- Start pasta cat -->
              <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                <div class="row">
                  <!-- pasta div -->
                  {% for item in items %}
                  {% if item.cat == 'pasta' and item.onOffer %}
                  <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                      <a href="#" class="menu-img img mb-4" style="background-image: url('{% static item.image %}');"></a>
                      <div class="text">
                        <h3><a href="#">{{item.name}}</a></h3>
                        <p>{{item.description}}</p>
                        <p class="price"><span>${{item.price}}</span></p>
                        <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                      </div>
                    </div>
                  </div>
                  {%endif%}
                  {%endfor%}
                  <!-- pasta div -->
                </div>
              </div>
              <!--End  pasta cat -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End  cat for category -->
