<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>

<body>
  {%load static%}
  {% include "partials/css.html" %}

  {% include "partials/navbar.html" %}

  {% block content %}
  

    <div class="container my-5">
        <div class="row">
        <h3>Welcome<span class="text-capitalize">{{request.user | capfirst}}</span></h3>
            <div class="col-sm-9 offset-sm-1 text-center">
                <h3>You Changed Your Password Successfully ! ! !</h3>
            </div>
        </div>
    </div>

  
  {% endblock %}

  {% include "partials/footer.html" %}
</body>

</html>