<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {%load static%}
  {% include "partials/css.html" %}

  {% include "partials/navbar.html" %}

  {% block content %}


  
  <div class='login_signup' style="margin: auto; padding: 10px;">

    <!--loginform-->
    {% if page == 'login'%}
    <div class="login" style="padding: 100px;">
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        <label for="username">UserName:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit" name="btnLogin" style="background-color: black; border: none; color: azure; cursor: pointer;">Login</button>
        <p>Haven't Signed Up?</p>
        <a href="{% url 'registerForm' %}">Signup Here</a>
      </form>
    </div>
    {% else %}
    <!--registerform-->
    <div class="signup" style="padding: 100px;">
      <h2>Sign Up</h2>
      <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" style="background-color: black; border: none; color: azure; cursor: pointer;">Sign
          Up</button>
      </form>
      <p>Already Signed Up?</p>
      <a href="{% url 'loginForm' %}">Login Here</a>
    </div>
    {%endif%}
  </div>

  {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {%if message.tags%} class="{{ message.tags }}" {% endif%}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}


  {% endblock %}



  {% include "partials/footer.html" %}
</body>

</html>